# Maven build output
/target/

# Maven wrapper jar (keep this)
/.mvn/wrapper/maven-wrapper.jar

# IDE files
.idea/
*.iml
*.iws
*.ipr

.vscode/

# Eclipse / STS files
.classpath
.project
.settings/
.springBeans

# NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs and OS files
*.log
.DS_Store
Thumbs.db
